<ion-view title="Agenda">

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="create()">Add</button>
    </ion-nav-buttons>

    <ion-content>
        
        <ion-list>
            <ion-item ng-repeat="contato in contatos">
                <h2>{{contato.nome}}</h2>
                <p>{{contato.email}}</p>
                <ion-option-button class="button button-assertive" ng-click="delete($index)">
                    <i class="icon ion-trash-a"></i>&nbsp;Apagar
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="update($index)">
                    <i class="icon ion-edit"></i>&nbsp;Editar
                </ion-option-button>                
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>