<ion-view>
    <ion-content>

        <form ng-submit="save(contato)">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" ng-model="contato.nome">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="contato.email">
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-balanced">Salvar</button>
            </div>
        </form>

    </ion-content>
</ion-view>